@import "tailwindcss";
@import "tw-animate-css";

@import "uploadthing/tw/v4";

@theme {
  --font-sans: var(--font-inter), Inter, sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply text-slate-800 antialiased;
  }
}

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
